@font-face {
  font-family: "fontmain";
  src: url("/fonts/IRANSansWeb_Medium.ttf") format("truetype");
}

/* --------- */
html,
body {
  background-color: #f8f8f8 !important;
  padding: 0;
  margin: 0;
  direction: rtl;
  font-family: fontmain;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
button:focus {
  box-shadow: none !important;
  outline: none !important;
}
/* 
  /dashboard
*/
.aside {
  width: 20%;
  height: 100vh;
  box-shadow: 0 0 15px 0 rgba(34, 41, 47, 0.05);
  background: white;
}
.main {
  width: 80%;
  padding-right: 10px;
  height: 100vh;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.navbar {
  width: 100%;
  margin: 30px 0px;
  padding: 15px 10px;
  background: white;
  box-shadow: 0 4px 24px 0 rgba(34, 41, 47, 0.1);
  border-radius: 3px;
  justify-content: left;
}
.dropdown {
  border: none;
  background: transparent;
  color: #6e6b7b;
}
.dropdown::after {
  margin-left: 0px;
  margin-right: 3px;
  vertical-align:2px
}
.header_aside {
  margin: 30px 20px;
}
.header_aside img {
  width: 100%;
  object-fit: contain;
}
.btn_aside {
  width: 100%;
  border: none;
  background: none;
  color: #565360;
  display: flex;
  text-align: right;
  position: relative;
  padding: 10px;
}
.btn_aside:hover {
  background: none;
  border: none;
  color: #565360;
}
.btn_aside_icon {
  margin-left: 5px;
  width: 7%;
}
.btn_aside_icon img{
  width: 100%;
}
.btn_aside_text {
  width: 90%;
  text-align: right;
}
.btn_aside.down:focus {
  background: #f5f5f5;
  border-radius: 0;
}
.btn_aside.down::after {
  transform: rotate(90deg);
}
.btn_aside::after {
  position: absolute;
  content: "";
  display: block;
  left: 15px;
  top: calc(50% - 2.5px);
  border-top: 5px solid;
  border-right: 5px solid transparent;
  border-bottom: 0;
  border-left: 5px solid transparent;
  transform: rotate(0deg);
  transition: .2s;
}
.card_aside {
  border: none;
  border-right: 3px solid #7367f0;
  border-radius: 0%;
  margin-top: 10px;
  padding-right: 30px;
}
.card_aside > a {
  color: inherit;
  text-decoration: none;
  position: relative;
  width: 100%;
  display: block;
  margin-bottom: 10px;
  transition: 0.2s;
}
.card_aside > a:hover {
  margin-right: 10px;
}
.card_aside a::after {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #565360;
  display: block;
  right: -20px;
  top: calc(50% - 5px);
  position: absolute;
}
/* 
  home
*/
@font-face {
  font-family: "font1";
  src: url("/fonts/CaveatBrush-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "font2";
  src: url("/fonts/Montserrat-Black.ttf") format("truetype");
}
@font-face {
  font-family: "font3";
  src: url("/fonts/Montserrat-Bold.ttf") format("truetype");
}

.bg_home {
  background: url(/img/bg.svg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.header_home {
  display: flex;
  padding: 20px 0;
  width: 100%;
}
.navbar_home {
  display: flex;
  align-items: center;
  width: 50%;
}
.navbar_home span:hover,
.navbar_home a:hover {
  background: black;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}
.navbar_home span,
.navbar_home a {
  width: 20%;
  font-family: font3;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 15px;
  border-radius: 25px;
  transition: 0.5s;
  height: 40px;
  cursor: pointer;
}
.logo_home {
  width: 50%;
  display: flex;
  font-family: font3;
}
.logo_home img {
  margin: 0 auto;
  width: 240px;
  height: 60px;
  filter: brightness(0);
}
/* 
  /login
*/
.login_page {
  display: flex;
  height: 100vh;
  background: #eee;
}
.login_box {
  width: 500px;
  max-height: 90vh;
  overflow: hidden;
  overflow-y: scroll;
  border: 1px solid #dfdfdf;
  background: white;
  border-radius: 20px;
  margin: auto;
  padding: 20px;
}

/* 
  form
*/

/* 
  btn submit
*/
.btnsubmit {
  padding: 5px 50px;
  color: white !important;
  background: #5f7a61;
  border-radius: 5px;
  border: none;
}
/* 
  input
*/
.custom_input_box {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 20px;
}
.custom_label_box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px 0;
  position: relative;
}
.custom_input {
  border: 1px solid #eee;
  border-radius: 5px;
  width: 100%;
  height: 40px;
  outline: none !important;
  padding-right: 10px;
  padding-top: 6px;
}
.custom_input_label.active {
  top: -8px;
  right: 20px;
  font-size: small;
  background: white;
}
.custom_input_label {
  transition: 0.2s;
  top: 8px;
  position: absolute;
  right: 30px;
  padding: 0 3px;
  cursor: text;
}
.custom_input:focus ~ .custom_input_label {
  top: -8px;
  right: 20px;
  font-size: small;
  background: white;
}
.custom_info {
  opacity: 0.5;
  font-size: small;
}
.not_valid input {
  border-color: red;
}
.not_valid span {
  color: red;
  opacity: 1;
}
.not_valid_message {
  font-size: small;
  color: red;
}
/* 
  textarea
*/
.custom_textarea_box {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 20px;
  width: 100%;
}
.custom_textarea {
  border: 1px solid #eee;
  border-radius: 5px;
  width: 80%;
  height: 150px;
  outline: none !important;
  padding-right: 10px;
  resize: none;
}
.custom_textarea_label {
  width: 19%;
}
/* 
 checkbox
*/
.custom_checkbox_label {
}
.custom_checkbox_box {
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
}
.custom_checkbox {
  margin-left: 10px;
  position: relative;
}
.checkbox {
  display: none;
}
.custom_checkbox_ncheck {
  width: 24px;
  height: 24px;
  border: 1px solid #5f7a61;
  background: white;
  display: block;
  border-radius: 5px;
}
/* .custom_checkbox_icheck {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: none;
  align-items: center;
  justify-content: space-between;
}
.checkbox:checked ~ .custom_checkbox_icheck {
  display: flex;
} */
.checkbox:checked ~ .custom_checkbox_ncheck {
  background: #5f7a61;
}
/* 
 radio
*/
.custom_radio_label {
  width: 100%;
}
.custom_radio_box {
  margin-bottom: 20px;
  flex-wrap: wrap;
  display: flex;
  align-items: center;
  width: 100%;
}
.custom_radio {
  margin-top: 15px;
  margin-left: 15px;
}
.radio {
  display: none;
}
.custom_radio_ncheck {
  padding: 3px 10px;
  border: 1px solid #eee;
  background: white;
  display: block;
  border-radius: 9px;
  transition: 0.2s;
}
/* .custom_radio_icheck {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  display: none;
  align-items: center;
  justify-content: space-between;
} */
.radio:checked ~ .custom_radio_ncheck {
  background: #eee;
  color: black;
}
/* 
  /edit
*/
.edit_page {
  display: flex;
  flex-direction: column;
  padding: 20px;
  background: white;
  border-radius: 3px;
}
